<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
<button onclick="requestPayment()"> 구매하세요! </button>
<script type="text/javascript">

    const data = {
        storeId: 'store-8c143d19-2e6c-41e0-899d-8c3d02118d41',
        channelKey: 'channel-key-0c38a3bf-acf3-4b38-bf89-61fbbbecc8a8',
        paymentId: `payment-${crypto.randomUUID()}`,
        orderName: '10000포인트',  <!-- 주문할 포인트 상품의 이름, FRONT단에서 입력 -->
        totalAmount: 10000,  <!-- 결제 금액, 5000 point가 아니라 5000원 - DB안보고 FRONT단에서 입력받게   -->
        currency: 'CURRENCY_KRW',
        payMethod: 'EASY_PAY',
        isTestChannel: true
    };

    async function requestPayment() {
        try {
            const response = await PortOne.requestPayment(data);
            <!-- 결제서버 -> front response -->
            if (response.code != null) {
                return alert(response.message);
            }

            const validation = await axios.post('http://localhost:7080/payments/complete', {
                paymentId: response.paymentId,
                totalAmount: 5000, <!--여기에 DATA객체의 TOTALAMOUNT가 들어가게-->
                useremail:'test1@example.com',
                pointname:'10000포인트'
<!--                test를 위해 useremail과 pointname을 직접적었지만, 로그인에 따라 USEREMAIL이 자동으로, POINTNAME은 누른 버튼에 따라 값이 바뀌었으면 좋겠습니다.-->
            });
            <!-- validation은, 검증 다 끝나고 나서 내가 purchascheck로 객체 전달 -->
            console.log(validation.data);
        } catch (error) {
            console.error(error);
        }
    }
</script>


</body>
</html>

